{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>AI Image Recognition</title>
  </head>
  <body>
    <header>
      <h1>AI Image Recognition</h1>
    </header>
    <section>
      <main>
        <h2>Introduce your image url:</h2>
        <form action="analyze">
          <input type="url" class="input-url" name="userUrlPhoto" placeholder="https://example.image_format">
          <input class="input-submit" type="submit" value="Analyze">
        </form>
      </main>
    </section>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>