{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>AI Image Recognition</title>
  </head>
  <body>
    <h1>This is a nice AI Image Recognition Project</h1>
    <h2>Hello {{ name }}</h2>
    <form action="analyze">
      <input type="url" name="userUrlPhoto" placeholder="https://example.com">
      <input type="submit">
    </form>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>